@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;900&display=swap");

:root {
  --font: "Red Hat Display", sans-serif;
  --cyan: rgb(77, 150, 168);
  --cyan-transparent: rgba(77, 150, 168, 0.9);
  --cyan-hover: rgb(113, 192, 212);
  --purple: rgb(133, 95, 177);
  --purple-hover: rgb(177, 139, 221);
  --grayish-purple: rgb(135, 135, 157);
  --grayish-purple-transparent: rgba(135, 135, 157, 0.25);
  --light-blue: rgb(143, 227, 249);
  --light-purple: rgb(217, 184, 255);
  --white: rgb(250, 250, 250);
  --pure-white: rgb(255, 255, 255);
  --black: rgb(40, 40, 61);
}

/* CSS Reset */

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* General Styles */

html {
  font-size: 62.5%;
}

body {
  font-family: var(--font);
  font-weight: 500;
  background-color: var(--white);
  color: var(--black);
}

img {
  display: block;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

/* Shared Styles */

.container {
  width: min(87.2%, 32.7rem);
}

.paragraph {
  font-size: 1.6rem;
  line-height: 2.6rem;
  text-align: center;
  color: var(--grayish-purple);
}

.marker {
  display: block;
  width: 5.6rem;
  height: 5.6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 900;
  font-size: 1.6rem;
  line-height: 2.6rem;
  color: var(--grayish-purple);
  border: 1px solid var(--grayish-purple-transparent);
  border-radius: 50%;
  margin-inline: auto;
  position: relative;
  background-color: var(--white);
}

.marker::before {
  content: "";
  width: 0.1rem;
  height: 8.4rem;
  background-color: var(--grayish-purple-transparent);
  position: absolute;
  top: -8.4rem;
  left: 0;
  right: 0;
  margin-inline: auto;
}

.link {
  display: block;
  width: fit-content;
  font-weight: 900;
  font-size: 1.6rem;
  line-height: 2.6rem;
  color: var(--pure-white);
  border-radius: 29px;
}

/* Header */

.header .logo {
  width: 11.9rem;
  margin: 4.8rem auto 0;
}

/* Main */
.main {
  overflow: hidden;
}

/* Hero */

.hero {
  margin: 25.5rem auto 0;
}

.main-heading {
  font-weight: 900;
  font-size: 4rem;
  line-height: 4.4rem;
  text-align: center;
  position: relative;
}

.main-heading::before {
  content: "";
  width: 100%;
  height: 153px;
  position: absolute;
  top: -20.1rem;
  left: 0;
  right: 0;
  margin-inline: auto;
  background-image: url("../assets/tablet/image-hero.png");
  background-size: cover;
  background-position: center;
}

.main-heading .heading-text {
  display: inline-block;
  width: min(100%, 32.7rem);
  margin-inline: auto;
}

.hero .paragraph {
  margin: 2.4rem auto 0;
}

.hero .links {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.6rem;
  margin-top: 3.2rem;
}

.hero .link-wrapper:first-of-type .link {
  background-color: var(--cyan);
  padding: 1.6rem 4rem;
}

.hero .link-wrapper:last-of-type .link {
  background-color: var(--purple);
  padding: 1.6rem 2.9rem;
}

.hero .version-number {
  color: var(--light-blue);
}

/* Section One */

.section-one {
  margin: 14.8rem auto 0;
}

.section-one .grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  column-gap: 2.5rem;
  row-gap: 2.4rem;
  width: 100%;
  margin-top: 6.4rem;
}

.section-one .grid-image {
  border-radius: 8px;
  width: 100%;
}

.section-one .subheading {
  font-weight: 900;
  font-size: 1.6rem;
  line-height: 2.6rem;
  letter-spacing: 4px;
  text-transform: uppercase;
  color: var(--cyan);
  text-align: center;
  margin-top: 6.4rem;
}

.section-one .feature-heading {
  font-weight: 900;
  font-size: 3.2rem;
  line-height: 3.6rem;
  text-align: center;
  margin: 2.4rem auto 0;
}

.section-one .paragraph {
  margin-top: 3.2rem;
}

/* Section Two */

.section-two {
  margin-top: 17.6rem;
  background-image: url("../assets/mobile/image-footer.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: var(--white);
  padding-bottom: 7.2rem;
  position: relative;
}

.section-two::before {
  content: "";
  width: 100%;
  height: 100%;
  background-color: var(--cyan-transparent);
  position: absolute;
  top: 0;
  left: 0;
}

.section-two .marker {
  top: -2.8rem;
}

.section-two .content-wrapper {
  margin-top: 3.6rem;
  position: relative;
}

.section-two .subheading {
  font-weight: 900;
  font-size: 3.2rem;
  line-height: 3.6rem;
  text-align: center;
  width: min(87.2%, 32.7rem);
  margin: 0 auto;
}

.section-two .paragraph {
  font-size: 1.8rem;
  line-height: 2.6rem;
  width: min(87.2%, 32.7rem);
  margin: 2.4rem auto 0;
  text-align: center;
  color: inherit;
}

.section-two .link {
  background: var(--purple);
  padding: 1.6rem 4rem;
  margin: 3.2rem auto 0;
}

.section-two .version-number {
  color: var(--light-purple);
}

/* Media Queries */

@media screen and (min-width: 650px) {
  /* Shared Styles */

  .container {
    width: min(89.7%, 68.9rem);
  }

  /* Hero */

  .hero {
    margin: 43.9rem auto 0;
  }

  .main-heading {
    font-size: 4.8rem;
    line-height: 4.8rem;
    margin: 0 auto;
  }

  .main-heading::before {
    height: 303px;
    top: -37.5rem;
  }

  .main-heading .heading-text {
    width: min(100%, 33.9rem);
  }

  .hero .paragraph {
    width: min(100%, 45.7rem);
  }

  .hero .links {
    flex-direction: row;
  }

  /* Section One */

  .section-one {
    margin: 16.4rem auto 0;
  }

  .section-one .grid {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(1, 1fr);
    gap: 1.1rem;
    margin-top: 6.7rem;
  }

  .section-one .subheading {
    font-size: 1.6rem;
    line-height: 2.6rem;
    letter-spacing: 4px;
    margin-top: 4.8rem;
  }

  .section-one .feature-heading {
    font-size: 4rem;
    line-height: 4.4rem;
    margin: 1.6rem auto 0;
    width: min(100%, 44.5rem);
  }

  .section-one .paragraph {
    width: min(100%, 57.3rem);
    margin: 3.2rem auto 0;
  }

  /* Section Two */

  .section-two {
    margin-top: 19.2rem;
    background-image: url("../assets/tablet/image-footer.jpg");
    padding-bottom: 6.6rem;
  }

  .section-two .subheading {
    font-size: 4rem;
    line-height: 4.4rem;
    width: min(100%, 45.7rem);
  }

  .section-two .paragraph {
    width: min(100%, 57.3rem);
    margin: 3.2rem auto 0;
  }

  .section-two .link {
    margin: 4rem auto 0;
  }
}
@media screen and (min-width: 1175px) {
  /* Shared Styles */

  .container {
    width: min(77.08333%, 111rem);
  }

  .paragraph {
    font-size: 1.8rem;
  }

  .header .logo {
    margin: 8rem auto 0;
  }

  /* Hero */

  .hero {
    margin: 10.8rem auto 0;
  }

  .main-heading {
    font-size: 6.4rem;
    line-height: 6.4rem;
    width: min(100%, 44.5rem);
    margin: 0 auto;
  }

  .main-heading::before {
    width: 394px;
    top: -4.7rem;
    left: -111.1rem;
    background-size: 394px 303px;
    background-image: url("../assets/desktop/image-hero-left.png");
  }

  .main-heading::after {
    content: "";
    width: 394px;
    height: 303px;
    position: absolute;
    top: 0.8rem;
    right: -52.9rem;
    background-image: url("../assets/desktop/image-hero-right.png");
    background-size: 394px 303px;
    /* background-position: center; */
  }

  .main-heading .heading-text {
    width: 100%;
  }

  .hero .paragraph {
    margin: 3.4rem auto 0;
    width: min(100%, 54rem);
  }

  .hero .link-wrapper:first-of-type .link:hover {
    background-color: var(--cyan-hover);
  }

  .hero .link-wrapper:last-of-type .link:hover {
    background-color: var(--purple-hover);
  }

  /* Section One */

  .section-one {
    margin: 20rem auto 0;
  }

  .section-one .grid {
    gap: 3rem;
    margin-top: 6.4rem;
  }

  .section-one .subheading {
    margin-top: 8rem;
  }

  .section-one .paragraph {
    width: min(100%, 54rem);
  }

  /* Section Two */

  .section-two {
    margin-top: 18.4rem;
    background-image: url("../assets/desktop/image-footer.jpg");
    padding-bottom: 10.4rem;
  }

  .section-two .content-wrapper {
    margin: 6rem auto 0;
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    width: min(77.08333%, 111rem);
  }

  .section-two .subheading {
    width: min(100%, 35rem);
    margin: 0;
    margin: 0 12.5rem 0 0;
    text-align: left;
  }

  .section-two .paragraph {
    width: min(100%, 35rem);
    margin: 0;
    text-align: left;
    align-self: flex-start;
  }

  .section-two .link {
    margin: 0;
    margin: 0 0 0 auto;
  }

  .section-two .link:hover {
    background-color: var(--purple-hover);
  }
}
